
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: #dbf0ff;
  text-align: center;
  padding: 1rem;
}

.background {
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
  background-size: cover;
  background-position: center;
}


.main{
  padding-left: 14rem;
  padding-top: 3rem;
}

a:link {
  color: rgb(13, 13, 35) 
}

a:visited {
  color: purple 
}


.footer {
  position: fixed;
  left: 13rem;
  bottom: 0;
  width: calc(100% - 13rem);
  background-color: #c3e5ff;
  color:#091016;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -155px;
  width: 200px;
  height: 100vh;
  background-color: #f2f2f2;
  transition: .3s ease-in-out;

  margin-top: 4rem;
}
.sidebar:hover{
  left: 0px;
}

.sidebar-menu {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #333;
}
