
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  
  background-image: url("/images/296685.png");
  background-size: cover;
  color:whitesmoke;
}
.header {
  position: fixed;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-image: linear-gradient(#f2f2f2, #dddddd);
  text-align: center;
  padding: 0px 100px;
}
.header h1{
  color: black;
  float: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}

.main{
  padding-left: 120px;
  padding-top: 130px;
  color: whitesmoke;
}

a:link {
  color: rgb(13, 13, 35) 
}

a:visited {
  color: purple 
}


.footer {
  position: fixed;
  left: 45px;
  bottom: 0;
  width: calc(100% - 45px);
  background-color: #c3e5ff;
  color:#091016;
  text-align: center;
  z-index: -1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -155px;
  width: 200px;
  height: 100vh;
  background-color: #f2f2f2;
  transition: .3s ease-in-out;
  margin-top: 4rem;
  border-top-right-radius: 5px;
}

.sidebar:hover{
  left: 0px;
}

.sidebar:hover .indicator{
  color: #09101600;
}

.indicator{
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 165px;
  z-index: 1;
  color:#091016ff;
  transition: .3s ease-in-out;
}

.sidebar-menu {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #333;
}
