
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: #dbf0ff;
  text-align: center;
  padding: 1rem;
}

.background {
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))ï¼Œ url(bg.jpg);
  background-size: cover;
  background-position: center;
}

ul.navbar {
  position: fixed;
  top: 5rem;
  width: 13rem;
  height: 100%;
  background-color: rgb(20, 20, 20);
  border-top-right-radius: 20px;
}
.main{
  padding-left: 14rem;
  border: 1px solid black;
}

ul.navbar li {
  background: white;
  margin: .7rem;
  padding: 5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.navbar a {
  text-decoration: none 
}

a:link {
  color: rgb(13, 13, 35) 
}

a:visited {
  color: purple 
}


.footer {
  position: fixed;
  left: 13rem;
  bottom: 0;
  width: calc(100% - 13rem);
  background-color: #c3e5ff;
  color:#091016;
  text-align: center;
}